@charset "UTF-8";
.sllb{
  text-align: center;
  background-color: white;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  color: blue;
}
body{
  background-color: whitesmoke;
  margin: 0;
}
.rogo{
  width: 5%;
  height: 5%;
}
main{
  background-color: gainsboro;
  border: 17px solid gainsboro;
}
.main{
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid white;
  border-top: 15px solid white;
  border-bottom: 15px solid white;
  border-radius: 5px;
}
.aaa{
  width: 100%;
  height: 150px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.bbb{
  text-align: center;
  margin-top: 15px;
  padding-bottom: 25px;
}
.bbb img{
  width: 60%;
}
.ccc{
  padding: 20px;
  background-color: white;
}
.ddd{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}
.eee{
  color: #555;
  font-size: 14px;
}
.fff{
  padding: 16px;
  border: 2px solid;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
}
.fff:hover{
  color: red;
}
